#htmlContainer img {
    max-width: 70%;
}
#htmlContainer img[tabindex="0"] {
    cursor: zoom-in;
}

#htmlContainer img[tabindex="0"]:focus {
    position: fixed; z-index: 1000;
    top: 0; left: 0; bottom: 0; right: 0;
    width: auto; max-width: 100%;
    height: auto; max-height: 100%;
    margin: auto;
    box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
}

#htmlContainer img[tabindex="0"]:focus, /* Привязка на возврат фото в привычное состояние после клика на увеличенное */
#htmlContainer img[tabindex="0"]:focus ~ * {
    cursor: zoom-out;
    pointer-events: none;
}